#layerslider-container
  #layerslider-main{:style => "width: 980px; height: 380px;"}
    .ls-layer{:style => "slidedirection: top; slidedelay: 7000;"}
      %h1.ls-s1{:style => "top:130px; left: 40px; slidedirection : left;"}
        Quang Minh Clinic
      %h2.ls-s1{:style => "top:180px; left: 40px; slidedirection : top; color: #eb4008;"}
        Nỗi đau của bệnh nhân là trăn trở của chúng tôi
      %img.ls-s5.retina{alt: "slider", src: "assets/doctor.png", :style => "max-width: 420px !important; position: absolute; top:10px; left: 600px; slidedirection : right; easingin : easeOutQuart; delayin : 500;"}/
      %h3.ls-s2{:style => "top:210px; left: 40px; slidedirection : bottom; slideoutdirection : left; durationin : 2000; durationout : 1000; easingin : easeOutQuart; easingout : easeInOutQuint; delayin : 500;"}
        Sự hài lòng của bệnh nhân là niềm vui của chúng tôi
      / %h4.ls-s3{:style => "top:240px; left: 40px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1000; easingin : easeOutBack; easingout : easeInOutQuint; delayin : 1000; showuntil : 1900;"}
      /   on the wrapbootstrap!
      / %h3.ls-s3{:style => "top:210px; left: 40px; slidedirection : left; slideoutdirection : right; durationin : 1200; durationout : 1200; easingin : easeInOutQuart; easingout : easeInOutQuart; delayin : 5000;"}
      /   smart and clean designed modern bootstrap theme!
      / %h4.ls-s3{:style => "top:240px; left: 40px; slidedirection : right; slideoutdirection : left; durationin : 1200; durationout : 1200; easingin : easeInOutQuart; easingout : easeInOutQuint; delayin : 5000;"}
      /   with a lot of features!
      / %a.ls-s4.btn.btn-danger{:href => "https://wrapbootstrap.com/user/creativelabs", :style => "top:270px; left: 40px; slidedirection : bottom; slideoutdirection : left; durationin : 1400; durationout : 1400; easingin : easeInOutQuart; easingout : easeInOutQuint; delayin : 5000;"} Buy it now
    
    .ls-layer.layer2{:style => "slidedirection: right; slidedelay: 7500;"}
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf1.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : top; slideoutdirection : left;  delayin : 500; showuntil : 3100; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf2.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : right; slideoutdirection : left;  delayin : 600; showuntil : 2500; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf3.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : bottom; slideoutdirection : left;  delayin : 700; showuntil : 2600; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf4.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : left; slideoutdirection : left;  delayin : 800; showuntil : 2900; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf5.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : top; slideoutdirection : left;  delayin : 900; showuntil : 2900; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf6.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : right; slideoutdirection : left;  delayin : 1000; showuntil : 2000; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf7.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : bottom; slideoutdirection : left;  delayin : 1100; showuntil : 2400; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf8.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : left; slideoutdirection : left;  delayin : 1200; showuntil : 2200; "}/
      %img.ls-s3.retina{:alt => "slider", :src => "assets/undecimo/gallery/nf9.png", :style => "max-width: 480px !important; max-height: 240px !important; position: absolute; top: 100px; left: 100px; slidedirection : top; slideoutdirection : left;  delayin : 1300; showuntil : 1900; "}/
      %p.ls-s3{:style => "position: absolute; top:30px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 1000; showuntil : 2500; background: #ff7700;"} Thoat Vi Dia Dem
      %p.ls-s3{:style => "position: absolute; top:62px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 1500; showuntil : 2500; background: #ff7900;"} Vat Ly Tri Lieu
      %p.ls-s3{:style => "position: absolute; top:94px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 2000; showuntil : 2500; background: #ff7d00;"} Dau Than Kinh Toa
      %p.ls-s3{:style => "position: absolute; top:126px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 2500; showuntil : 2500; background: #ff8000;"} Awesome LayerSlider3
      %p.ls-s3{:style => "position: absolute; top:158px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 3000; showuntil : 2500; background: #ff8600;"} FlexSlider2
      %p.ls-s3{:style => "position: absolute; top:190px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 3500; showuntil : 2500; background: #ff8b00;"} Over 400 Glyphicons Pro
      %p.ls-s3{:style => "position: absolute; top:222px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 4000; showuntil : 2500; background: #ff9100;"} Font Awesome 3
      %p.ls-s3{:style => "position: absolute; top:254px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 4500; showuntil : 2500; background: #ff9500;"} Working Contact Form
      %p.ls-s3{:style => "position: absolute; top:286px; left: 500px; slidedirection : bottom; slideoutdirection : top; durationin : 1000; durationout : 750; delayin : 5000; showuntil : 2500; background: #ff9a00;"} and many more...
      %h2.ls-s2{:style => "position: absolute; top:30%; left: 20%; slidedirection : fade; slideoutdirection : left; durationin : 1500; durationout : 1000; easingin : easeInOutQuad; easingout : easeInBack; delayin : 5000; showuntil : 2500;"} Chieu day
      %h2.ls-s2{:style => "position: absolute; top:50%; left: 20%; slidedirection : fade; slideoutdirection : left; durationin : 1500; durationout : 1000; easingin : easeInOutQuad; easingout : easeInBack; delayin : 5500; showuntil : 2100; font-size: 70px; height: 100px; line-height: 100px; padding: 0px 40px; color: #eb4008;"} 20
      %h2.ls-s2{:style => "position: absolute; top:70%; left: 20%; slidedirection : fade; slideoutdirection : left; durationin : 1500; durationout : 1000; easingin : easeInOutQuad; easingout : easeInBack; delayin : 6000; showuntil : 1700;"} nam kinh nghiem
    
    / .ls-layer{:style => "slidedirection: right; slidedelay: 4000;"}
    /   %img.ls-s1.retina{:alt => "slider", :src => "assets/macbook.png", :style => "max-width: 448px !important; max-height: 300px !important; position: absolute; top: 70px; left: 400px; slidedirection : right; slideoutdirection : right;"}/
    /   %img.ls-s2.retina{:alt => "slider", :src => "assets/ipad.png", :style => "max-width: 246px !important; max-height: 320px !important; position: absolute; z-index: -1; top: 64px; left: 700px; slidedirection : right; slideoutdirection : left;  delayin : 500; showuntil : 3100; "}/
    /   %img.ls-s3.retina{:alt => "slider", :src => "assets/iphone.png", :style => "max-width: 75px !important; max-height: 160px !important; position: absolute; z-index: -1; top: 178px; left: 390px; slidedirection : right; slideoutdirection : left;  delayin : 1000; showuntil : 3100; "}/
    /   %h1.ls-s4{:style => "top:130px; left: 40px; slidedirection : left;"}
    /     Responsive Design
    /   %h2.ls-s4{:style => "top:180px; left: 40px; slidedirection : top; color: #eb4008;"}
    /     Working on every devices
    /   %h3.ls-s5{:style => "top:210px; left: 40px; slidedirection : bottom; slideoutdirection : left; durationin : 2000; durationout : 1000; easingin : easeOutElastic; easingout : easeInOutQuint; delayin : 1000; showuntil : 2000;"}
    /     specialy optimized to retina displays
    /   %h4.ls-s5{:style => "top:240px; left: 40px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1000; easingin : easeOutBack; easingout : easeInOutQuint; delayin : 1000; showuntil : 1900;"}
    /     tested on iPhone 4&5, iPad 4, Macbook PRO
    
    .ls-layer{:style => "slidedirection: top; slidedelay: 10000;"}
      %img.ls-s1.retina{alt: "slider", src: "assets/doctor.png", :style => "max-width: 420px !important; position: absolute; top:10px; left: 600px; slidedirection : right; easingin : easeOutQuart; delayin : 500;"}/
      / %img.ls-s1.retina{:alt => "slider", :src => "assets/dog.png", :style => "max-width: 400px !important; max-height: 400px !important; z-index: -1; top:50px; left: 500px; slidedirection: bottom; slideoutdirection : bottom;"}/
      %h1.ls-s2{:style => "top:130px; left: 40px; slidedirection : left;"}
        Quang Minh Clinic
      %h2.ls-s3{:style => "top:180px; left: 40px; slidedirection : bottom; slideoutdirection : left; durationin : 2000; easingin : easeOutQuart; easingout : easeInOutQuint; delayin : 500;"}
        Địa chỉ tin cậy của mọi người
      %h3.ls-s3{:style => "top:210px; left: 40px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; easingin : easeOutBack; easingout : easeInOutQuint; delayin : 500;"}
        ""
      %h2.ls-s4{:style => "top:240px; left: 40px; slidedirection : top; delayin : 1000; color: #eb4008;"}
        Hãy Gọi Chúng Tôi: (08) 3-997-4945